esphome:
  name: watermeter
  friendly_name: Watermeter

esp32:
  board: esp32cam
  framework:
    type: arduino

psram:
  mode: quad
  speed: 80MHz

logger:
  baud_rate: 0

api:
ota:
  platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

# --- LED (Flash) ---
output:
  - platform: gpio
    pin: GPIO4
    id: led_flash

light:
  - platform: binary
    name: "Watermeter LED"
    output: led_flash
    restore_mode: ALWAYS_OFF

# --- Camera ---
esp32_camera:
  name: "Watermeter Camera"

  external_clock:
    pin: GPIO0
    frequency: 20MHz

  i2c_pins:
    sda: GPIO26
    scl: GPIO27

  data_pins: [GPIO5, GPIO18, GPIO19, GPIO21, GPIO36, GPIO39, GPIO34, GPIO35]
  vsync_pin: GPIO25
  href_pin: GPIO23
  pixel_clock_pin: GPIO22
  power_down_pin: GPIO32

  resolution: 640x480
  jpeg_quality: 8        # low framerate, high quality
  max_framerate: 1 fps
  idle_framerate: 0.1 fps
