name: CI Build and Push
on: [push]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write   # notwendig f체r Push zu GHCR
    steps:
      - uses: actions/checkout@v3

      # Node & Yarn einrichten (f체r Yarn-Cache)
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Yarn-Cache-Verzeichnis ermitteln
        id: yarn-cache-dir
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - name: Yarn-Abh채ngigkeiten aus Cache wiederherstellen
        uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # Docker Buildx Setup f체r Multi-Arch
      - uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push container image
        uses: docker/build-push-action@v6.13.0
        id: docker_build
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.extract_info.outputs.version }}
          labels: |
            org.opencontainers.image.title="Meter Monitor"
            org.opencontainers.image.description="Integrate ESP32 based meter monitor cams with Home Assistant using AI"
            org.opencontainers.image.vendor=HSRM
            org.opencontainers.image.authors="Philipp Seelos"
            org.opencontainers.image.url=https://github.com/phiph-s/metermonitor-managementserver
            org.opencontainers.image.source=https://github.com/phiph-s/metermonitor-managementserver
            org.opencontainers.image.version=${{ steps.extract_info.outputs.version }}
            io.hass.name="Meter Monitor"
            io.hass.url=https://github.com/phiph-s/metermonitor-managementserver
            io.hass.version=${{ steps.extract_info.outputs.version }}
            io.hass.type=addon
            io.hass.arch=armv7|aarch64|amd64
          annotations: |
            org.opencontainers.image.title="Meter Monitor"
            org.opencontainers.image.description="Integrate ESP32 based meter monitor cams with Home Assistant using AI"
            org.opencontainers.image.vendor=HSRM
            org.opencontainers.image.authors="Philipp Seelos"
            org.opencontainers.image.version=${{ steps.extract_info.outputs.version }}
            org.opencontainers.image.url=https://github.com/phiph-s/metermonitor-managementserver             
         

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
